html {
    box-sizing: border-box;
    background-color: ivory;
}

.card {
    font-family: Garamond;
    background-color: ivory;
}

.card-title {
    color:black;
    font-weight: bold;
}

.carousel-item {
    font-family: Garamond;
}

.navbar {
    font-family: Garamond;
    font-size: large;
    background-color: #2b1400;
}

.navbar-brand {
    font-size: larger;
    height: 80px;
}

.project-image {
    height: 600px;
    width: 100%;
}

.personal-image {
    width: 50%;
}