html {
    box-sizing: border-box;
}

.card {
    font-family: Garamond;
    background-color: ivory;
    width: 50%;
}

.carousel-item {
    font-family: Garamond;
}

.navbar {
    font-family: Garamond;
    background-color: #2b1400;
}

.project-image {
    height: 600px;
    width: 100%;
}

